---
import SearchReviewInput from '@/components/rt/react/SearchReviewInput';
import { joinClass } from '@/utils';
---

<div
  class="bg-[#FE0000] text-white h-[90px] flex items-center flex-col lg:flex-row"
>
  <a href="/rt"><img src="/logo-tmdne-rt.svg" /></a>
  <SearchReviewInput
    type="text"
    className={joinClass(
      'flex-1 w-full pr-4',
      '[&>input]:h-[35px] [&>input]:w-full [&>input]:bg-[rgba(0,0,0,.4)] [&>input]:rounded-[26px] [&>input]:border [&>input]:border-white',
      // mobile screen
      '[&>input]:px-4 [&>input]:ml-2 [&>svg]:right-5'
    )}
    placeholder="Search movies and more..."
    client:only="react"
  />
  <div>
    <a
      class="font-neue mx-2"
      href="https://github.com/rabelais88/this-movie-review-does-not-exist"
      >GITHUB REPO</a
    >
    <a class="font-neue ml-2 mr-4" href="/">MODE</a>
  </div>
</div>
